<a href="https://colab.research.google.com/github/naylacahyaputri/Algoritma-Python/blob/main/P5_Senin_Nayla_Cahya_Putri_2C1240068.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Progeam HelloWorld
#Mencetak Hello, World ke layar
#KAMUS
#belum diperlukam
#ALGORITMA
print("Hello, World")

Hello, World

In [ ]:
#Program Test
#Spesifikasi : Menghitung nilai A dan B
#KAMUS
#A : int
#B : int
#ALGORITMA
A = int(input("Masukkan nilai A"))
B = int(input("Masukkan nilai B"))
A = A + B
print(A)
print(B)

Masukkan nilai A5
Masukkan nilai B3
8
3

In [ ]:
#Program Test
#Spesifikasi : Menghitung harga kelereng yang harus dibayar anak itu
#KAMUS
#M : int
#H : int
#K : int
#ALGORITMA
m= int(input("Masukkan nilai m: "))
h= int(input("Masukkan nilai h: "))
k= int(input("Masukkan nilai k: "))

hk_m = 10
hk_h = 15
hk_k = 20

total_harga = (m*hk_m) + (h*hk_h) + (k*hk_k)

print("Yang harus dibayarkan adalah", total_harga, "Rupiah")

Masukkan nilai m: 90
Masukkan nilai h: 70
Masukkan nilai k: 60
Yang harus dibayarkan adalah 3150 Rupiah

In [ ]:
print("Hello world")

Hello world

In [ ]:
#proses memasukan data ke dalam variabel
nama = "John Doe"
#proses mencetak variabel
print(nama)
#nilai dan tipe data dalam variabel dapat diubah
umur = 20 #nilai awal
print(umur) #mencetak nilai umur
type(umur) #mengecek tipe data umur
umur = "dua puluh satu" #nilai setelah diubah
print(umur) #mencetak nilai umur
type(umur) #mengecek tipe data umur
namaDepan = "Budi"
namaBelakang = "Susanto"
nama = namaDepan + " " + namaBelakang
umur = 22
hobi = "Berenang"
print("Biodata\n", nama, "\n", umur, "\n", hobi)

#contoh variabel lainya
inivariabel = "Halo"
ini_juga_variabel = "Hai"
_inivariabeljuga = "Hi"
inivariabel222 = "Bye"
panjang = 10
lebar = 5
luas = panjang * lebar
print(luas)

John Doe
20
dua puluh satu
Biodata
 Budi Susanto
 22
 Berenang
50

In [ ]:
S = input("Masukkan kalimat: ") #(1)
print("Anda memasuk kan kalimat: " + S) #(2)
N = int(input("Masukkan sebuah angka: ")) # (3)
print("Jika angka Anda ditambah 5, hasilnya: " + str(N + 5)) #(4)

Masukkan kalimat: bebas
Anda memasuk kan kalimat: bebas
Masukkan sebuah angka: 5
Jika angka Anda ditambah 5, hasilnya: 10

In [ ]:
#tipe data Boolean
print(True)
#tipe data String
print("Ayo belajar Python")
print('Belajar Python Sangat Mudah')
#tipe data Integer
print(20)
#tipe data Float
print(3.14)
#tipe data Hexadecimal
print(0x9a) # Perbaikan: menambahkan awalan 0x
#tipe data Complex
print(5j)
#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])
#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))
#tipe data Dictionary
print({"nama":"Budi", 'umur':20})
#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data

print(type(biodata)) #fungsi untuk mengecek jenis tipe data. akan tampil

True
Ayo belajar Python
Belajar Python Sangat Mudah
20
3.14
154
5j
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
{'nama': 'Budi', 'umur': 20}
{'nama': 'Andi', 'umur': 21}
<class 'dict'>

In [ ]:
x = float(5)
print(x)

5.0

In [ ]:
x = int(5.6)
print(x)

5

In [ ]:
x = str(9)
print(x)

9

In [ ]:
x = set([1, 2, 3])
y = tuple({5, 6, 7})
z = list(("hello"))
print(x)
print(y)
print(z)

{1, 2, 3}
(5, 6, 7)
['h', 'e', 'l', 'l', 'o']

In [ ]:
x = 8
y = 2
result = x + y
print(result)

10

In [ ]:
# Penjumlahan
print(13 + 2)
apel = 7
jeruk = 9
buah = apel + jeruk # Menjumlahkan jumlah apel dan jeruk
print(f"Jumlah buah: {buah}")
# Pengurangan
hutang = 10000
bayar = 5000
sisa_hutang = hutang - bayar # Menghitung sisa hutang
print(f"Sisa hutang Anda adalah {sisa_hutang}")
# Perkalian
panjang = 15
lebar = 8
luas = panjang * lebar # Menghitung luas persegi panjang
print(f"Luas persegi panjang: {luas}")
# Pembagian
kue = 16
anak = 4
kue_per_anak = kue / anak # Menghitung bagian kue per anak
print(f"Setiap anak akan mendapatkan bagian kue sebanyak {kue_per_anak}")
# Sisa Bagi / Modulus
bilangan1 = 14
bilangan2 = 5
hasil = bilangan1 % bilangan2 # Menghitung sisa bagi

# Pangkat
bilangan3 = 8
bilangan4 = 2
hasil_pangkat = bilangan3 ** bilangan4 # Menghitung hasil pangkat
print(f"Hasil pangkat: {hasil_pangkat}")
# Pembagian Bulat
print(10 // 3)
# 10 dibagi 3 adalah 3.3333. Karena dibulatkan maka akan menghasilkan

15
Jumlah buah: 16
Sisa hutang Anda adalah 5000
Luas persegi panjang: 120
Setiap anak akan mendapatkan bagian kue sebanyak 4.0
Hasil pangkat: 64
3

In [ ]:
# SAMA DENGAN
print(1 == 1) # Hasilnya akan bernilai True karena satu sama dengan satu
print(1 == 2) # Hasilnya akan bernilai False karena satu tidak sama dengan

# TIDAK SAMA DENGAN
print(2 != 2) # Hasilnya akan bernilai False karena dua seharusnya sama

print(2 != 3) # Hasilnya akan bernilai True karena dua tidak sama dengan


# LEBIH BESAR DARI
print(5 > 3) # Hasilnya akan bernilai True karena lima lebih besar dari

# LEBIH KECIL DARI
print(5 < 3) # Hasilnya akan bernilai False karena lima tidak lebih besar

# LEBIH BESAR DARI SAMA DENGAN
print(5 >= 3) # Hasilnya akan bernilai True karena lima lebih besar dari

# LEBIH KECIL DARI SAMA DENGAN
print(5 <= 3) # Hasilnya akan bernilai False karena lima tidak lebih besar

True
False
False
True
True
False
True
False

In [ ]:
#SOAL 1
s = float(input("Masukkan panjang sisi persegi:"))
luas_persegi = s * s
print("jadi luas persegi adalah",luas_persegi)

Masukkan panjang sisi persegi:2.6
jadi luas persegi adalah 6.760000000000001

In [13]:

#Soal 2
nama = str (input ("masukkan nama : "))
nim = str (input("masukkan nim : "))
fakultas = str (input("masukkan fakultas : "))
jurusan = str (input("masukkan jurusan : "))
KotaAsal = str (input("masukkan Kota Asal : "))
Alamat = str (input("masukkan Alamat : "))
print(nama)
print(nim)
print(fakultas)
print(jurusan)
print(KotaAsal)

masukkan nama : Nayla Cahya Putri
masukkan nim : 2C1240068
masukkan fakultas : Sains dan Teknologi
masukkan jurusan : Agribisnis
masukkan Kota Asal : Kepulauan Bangka Belitung
masukkan Alamat : Bangka Belitung
Nayla Cahya Putri
2C1240068
Sains dan Teknologi
Agribisnis
Kepulauan Bangka Belitung