<a href="https://colab.research.google.com/github/naylacahyaputri/Algoritma-Python/blob/main/P8_Nayla_Cahya_Putri_2C1240068.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNDAMENTAL ARRAY**

In [ ]:
arr = [10, 20, 30, 40]

In [ ]:
list_numbers = [1, 2, 3, 4, 5]

In [ ]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100

**MENDEKLARASIKAN ARRAY**

In [ ]:
arr = [1, 2, 3, 4, 5]

In [ ]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda

In [ ]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0

In [ ]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

**PEMROSESAN SEKUENSIAL ARRAY**

In [ ]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [ ]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [2]:
# P8
# Membuat array dengan angka acak
arr = [44, 15, 18, 29, 74,8, 10, 12, 45, 8, 10, 25, 2, 33]

# Nilai maksimum
nilai_maks = max(arr)
print("Nilai Maksimum:", nilai_maks)

# Nilai minimum
nilai_min = min(arr)
print("Nilai Minimum:", nilai_min)

# Hasil penjumlahan seluruh elemen
hasil_penjumlahan = sum(arr)
print("Hasil Penjumlahan:", hasil_penjumlahan)

# Jumlah seluruh elemen
jumlah_arr = len(arr)
print("Jumlah Elemen:", jumlah_arr)

# Rata-rata seluruh elemen
rata_rata = hasil_penjumlahan / jumlah_arr
print("Rata-rata:", rata_rata)

Nilai Maksimum: 74
Nilai Minimum: 2
Hasil Penjumlahan: 333
Jumlah Elemen: 14
Rata-rata: 23.785714285714285

In [3]:
#Soal 1
S = [4, 1, -1, 10, 0, 12]

D = int(input("Masukkan nilai D: "))

S = [x * D for x in S]

print("Array setelah dikalikan dengan D:", S)

Masukkan nilai D: 7
Array setelah dikalikan dengan D: [28, 7, -7, 70, 0, 84]

In [4]:
# Soal 2
T1 = [9, 12, 30, -1, 0, 4, -1, 3, 30, 14]
nilai_terbesarT1 = max(T1)
print ("nilai terbesar dari T1 adalah", nilai_terbesarT1)

nilai_terkecilT1 = min(T1)
print ("nilai terkecil dari T1 adalah", nilai_terkecilT1)

T2 = [1, 3, 5, 8, -12, 90, 3, 5]
nilai_terbesarT2 = max(T2)
print ("nilai terbesar dari T2 adalah", nilai_terbesarT2)

nilai_terkecilT2 = min(T2)
print ("nilai terkecil dari T2 adalah", nilai_terkecilT2)

nilai terbesar dari T1 adalah 30
nilai terkecil dari T1 adalah -1
nilai terbesar dari T2 adalah 90
nilai terkecil dari T2 adalah -12